@import url(color.css);

.header {
    margin-top: 6em;
    position: sticky;
    top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 528px;
    min-height: calc(100vh - 12rem);
    max-height: 1vh ;
}

.header img {
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
}

/* HEADER WITH NAME AND TITLE AND STUFF */
.header-basic-info {
    color: var(--clr-header-basics) !important;
    letter-spacing: -0.025em;
}

.header-name {
    font-size: 3rem;
    color: white !important;
    font-weight: 600;
}

.header-title {
    margin-top: 0.75rem !important;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400 !important;
}

.header-introduction {
    line-height: 1.5rem;
    max-width: 20rem;
    margin-top: 1rem !important;
}

/*THE NAVIGATION PART*/

.navigation-list a {
    display: block;
    color: var(--clr-text-2);
    margin-block: 1em;
    font-size: 0.8em;
    font-weight: 600;
    transition: all 1s;  
}
.navigation-list a::before {
    margin-right: 0.5em;
    content: "";
    display: inline-block;
    height: 0.1em;
    border-radius: 20%;
    background-color: var(--clr-text-2);
    width: 1.5em;
    vertical-align: middle;
    /* transform: translateY(10px); */
    /* transition: width 2s, color 2s; OR*/ 
    transition: all 1s;  
}

a.active {
    color: var(--clr-header-basics);
}

a.active::before {
    background-color: var(--clr-header-basics);
    width: 2.5em;
}

.navigation-item {
    cursor: pointer;
}

/*THE ICON HREF PART*/

.contact-list-item {
    display: inline-block;
    margin-right: 20px;
}
.contact-list-item a {
    color: var(--clr-text-1);
    font-size: 1.75rem;
}
